@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-backgroundLight text-gray-900 dark:bg-backgroundDark dark:text-white transition-colors duration-300 font-sans antialiased;
  }
}